.tutorial{
	color:white;
	font-size: 12pt;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.carousel-caption {
//      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      color: black;
      bottom: -1px;
//      margin-top: 200px;
      text-align:center;
//      background-color: blue;
}


.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active{
      background-color: grey;
}
.heading{
  font-size: 24pt;
  font-family: "Lato";
}

#head{
  font-size: 20pt;  
  margin-left: 10%;
  font-weight: bold;
}

#button{
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#description{
  font-size: 14pt;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.well{
  background-color: #0193b7;
  color:  #f6f6f6;
  font-weight: bold;
}

